python-dateutil
numpy==1.26.4
openpyxl==3.1.4
pandas==2.2.2
plotnine
pmdarima
PyPDF2
py7zr
pyarrow==16.1.0
python-bcb
requests==2.32.3
seaborn
sidrapy
sklearn
statsmodels
streamlit==1.35.0
tabula-py
plotly
